<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <script src="https://unpkg.com/shiki"></script>

    {{ content }}

    <script>
      const themes = [
        "dark-plus",
        "dracula-soft",
        "dracula",
        "github-dark-dimmed",
        "github-dark",
        "github-light",
        "hc_light",
        "light-plus",
        "material-darker",
        "material-default",
        "material-lighter",
        "material-ocean",
        "material-palenight",
        "min-dark",
        "min-light",
        "monokai",
        "nord",
        "one-dark-pro",
        "poimandres",
        "rose-pine-dawn",
        "rose-pine-moon",
        "rose-pine",
        "slack-dark",
        "slack-ochin",
        "solarized-dark",
        "solarized-light",
        "vitesse-dark",
        "vitesse-light",
      ];
      const container = document.getElementById("container");
      const code_block = document.getElementById("code-block");
      container.removeChild(code_block);

      for (let i = 0; i < themes.length; i++) {
        const theme_name = document.createElement("h1");
        theme_name.innerHTML = `${i + 1}: ${themes[i]}`;
        container.appendChild(theme_name);

        const block = code_block.cloneNode(true);
        container.appendChild(block);

        const line_break = document.createElement("br");
        container.appendChild(line_break);

        shiki
          .getHighlighter({
            theme: themes[i],
            langs: ["ballerina"],
          })
          .then((highlighter) => {
            const code = document.getElementsByClassName("code")[i];
            const output = highlighter.codeToHtml(`${code.innerHTML}`, {
              lang: "ballerina",
            });
            document.getElementsByClassName("code")[i].innerHTML = output;
          });
      }
    </script>
  </body>
</html>
