<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <script src="https://unpkg.com/shiki"></script>

    {{ content }}

    <script>
      const themes = [
        "dracula",
        "github-dark",
        "github-light",
        "material-default",
        "nord",
      ];
      const code_blocks = document.getElementsByClassName("code");
      for (let i = 0; i < themes.length; i++) {
        shiki
          .getHighlighter({
            theme: themes[i],
          })
          .then((highlighter) => {
            const code = code_blocks[i];
            const output = highlighter.codeToHtml(`${code.innerHTML}`, {
              lang: "ballerina",
            });
            document.getElementsByClassName("code")[i].innerHTML = output;
          });
      }
    </script>
  </body>
</html>
